<h1>List of Anime</h1>
<ul>
  <% animes.each do |animes| %>
    <li>
      <%= animes[:name] %>
      <%= animes[:creator] %>
      <%= animes[:mainChar] %>
      <a href="/edit<% animes.id %>">Edit</a>
      <form action="/delete/<%= animes.id %>" method="post" class="delete">
        <input type="submit" value="delete">
      </form>
    </li>
  <% end %>
</ul>
<p><a href="/new">Add New Anime!</a></p>
